a,
body,
div,
form,
html,
img,
input,
label,
p,
span {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif, Arial
}

body,
html {
    min-height: 100%;
    overflow-x: hidden
}

body {
    background: #a2a09b; /* Fallback color */
    background: linear-gradient(135deg, hsl(236.6, 0%, 53.52%) 0%, hsla(236.6, 0%, 53.52%, 0) 70%),
                linear-gradient(25deg, hsl(220.75, 34.93%, 26.52%) 10%, hsla(220.75, 34.93%, 26.52%, 0) 80%),
                linear-gradient(315deg, hsl(46.42, 36.62%, 83.92%) 15%, hsla(46.42, 36.62%, 83.92%, 0) 80%),
                linear-gradient(245deg, hsl(191.32, 50.68%, 56.45%) 100%, hsla(191.32, 50.68%, 56.45%, 0) 70%);
}


a {
    color: #486173
}

input,
label {
    vertical-align: middle;
    white-space: normal;
    background: 0 0;
    line-height: 1
}

label {
    position: relative;
    display: block
}

p::first-letter {
    text-transform: uppercase
}

.main {
    margin: 10px;
    background-color: rgba(201, 201, 201, 0.2);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: calc(5vh - 10px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ie-fixMinHeight {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}



.ico {
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    margin-left: 14px
}

.logo {
    max-width: 200px;
    display: block;
    margin: 0 auto 0 auto
}

.logo * {
    fill: #fff
}

.lite .logo * {
    fill: #444
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 24px !important
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px
}

.wrap {
    margin: auto;
    padding: 40px;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out
}

@media only screen and (min-width:1px) and (max-width:575px) {
    .wrap {
        width: 100%
    }
}

form {
    width: 100%;
    margin-bottom: 20px
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.info-top {
    color: #fff;
    text-align: center;
    /* margin-bottom: 30px */
    margin: 15px;
}
h3 {
    color: #fff;
    text-align: center;
}

.info {
    color: #fff;
    text-align: center;
    /* margin-bottom: 30px */
    margin-top: 30px;
    margin: 15px;
}

input {
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input:focus {
    outline: 0
}

input[type=password],
input[type=text] {
    width: 100%;
    border: 1px solid;
    background-color: rgba(255, 255, 255, .8);
    height: 44px;
    padding: 3px 20px 3px 40px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .8);
    -webkit-transition: -webkit-box-shadow .3s ease-in-out;
    transition: -webkit-box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out
}

input[type=password]:focus,
input[type=text]:focus {
    -webkit-box-shadow: 0 0 5px 0 rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 1)
}

.bt {
    opacity: .4
}

input[type=submit] {
    background: #3e4d59;
    color: #fff;
    border: 0;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 44px;
    border-radius: 6px;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out
}

input[type=submit]:focus,
input[type=submit]:hover {
    background: #33404a
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px
}

table td {
    color: #fff;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 4px 10px 0
}

table td:first-child {
    font-weight: 700
}

.lite {
    background: #fff
}

.lite input[type=password],
.lite input[type=text] {
    border: 1px solid #c3c3c3
}

.lite .info,
.lite h1,
.lite table td {
    color: #444
}

.lite input[type=password]:focus,
.lite input[type=text]:focus {
    -webkit-box-shadow: 0 0 5px 0 rgba(62, 77, 89, .2);
    box-shadow: 0 0 5px 0 rgba(62, 77, 89, .2)
}

.dark {
    background: #343434
}

.dark input[type=submit] {
    background: #dc3a41
}

.dark input[type=submit]:focus,
.dark input[type=submit]:hover {
    background: #b92f35
}

.dark input[type=password],
.dark input[type=text] {
    background-color: #fff
}

.dark a {
    color: #dc3a41
}

.dark table td {
    border-bottom: 1px solid #505050
}

.info.alert {
    color: #da3d41
}

@media (min-width:576px) {
    .wrap {
        width: 410px
    }

    * {
        font-size: 14px !important
    }
}

.promo {
    margin-top: 20px;
    background: #309eff;
    border: 1px solid #2980b9;
    border-radius: 8px;
    /* padding: 10px; */
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.header-promo {
    color: white;
    /* text-decoration: underline; */
    cursor: pointer;
    text-align: center;
    /* background: #309eff; */
    padding: 10px;
}

.footer-promo {
    text-align: center;
    /* background: #309eff; */
    padding: 10px;
}

.footer-promo a {
    color: white;
    cursor: pointer;
}

.footer-promo a:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: 0px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 2s ease-in-out;
}

.slide {
    min-width: 100%;
}

.img-slide {
    width: 100%;
    height: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transform: translateY(-50%);
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.mode {
    margin: auto
}

.mode-btn {
    background: #3e4d59;
    color: #fff;
    border-radius: 6px;
    border: 0;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    height: 36px;
    width: 49%;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out
}

.mode-btn:hover {
    background: #33404a
}

.mode-btn-active {
    background: #33404a
}

.dark .mode-btn {
    background: #dc3a41
}

.dark .mode-btn:hover {
    background: #b92f35
}

.dark .mode-btn-active {
    background: #b92f35
}

.notice {
    background-color: #ff758c;
    border-radius: 6px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 5px
}

#infologin {
    text-align: center;
    padding: 10px 5px 10px 5px;
    margin-bottom: 5px
}

/* iframe {
    float: left;
    height: 22px;
    width: 100%
} */

.kotak-saran {
    margin-top: 20px;
    margin-bottom: 10px;
    background: #309eff;
    color: #fff;
    border: 0;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 44px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out
}

.kotak-saran a {
    text-decoration: none;
    color: #fff;
}

.kotak-saran:focus,
.kotak-saran:hover {
    background: #33404a
}

.lanjut-web {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #0088ff;
    color: #fff;
    border: 0;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 44px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out
}

.lanjut-web a {
    text-decoration: none;
    color: #fff;
}

.lanjut-web:focus,
.lanjut-web:hover {
    background: #1b4769
}

.profile-yt iframe {
    display: none;
    /* width: 100%;
    height: 100%;
    margin: 10px 0 10px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; */
}